body {
  font-family: Roboto, sans-serif;
  background-image: url('https://github.com/Dusko2779/Project_3_cleaned_data/raw/main/Natural-Disasters.jpg');
  background-size: cover;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  background-color: #3788bed3;
  color: #fff;
  padding: 10px 0;
}

.controls {
  margin-bottom: 20px;
  text-align: center;
}

/* Style the Select Topic dropdown */
select {
  width: 300px;
  padding: 10px;
  font-size: 18px;
  background-color: #3788bed3;
  color: #fff;
  border: none;
  border-radius: 5px;
}

/* Style the dropdown options */
select option {
  background-color: #333;
  color: #fff;
}

.chart {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

#barChart {
  width: 100%;
  height: 400px;
}

/* Add the following styles for pie charts */
.pie-chart {
  margin: 10px 0;
  text-align: center;
}

.pie-chart h2 {
  font-size: 18px;
  margin-bottom: 1px;
}

.pie-chart .chart {
  width: 100%;
  height: 500px;
}

